.footer {

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $xl) {
      flex-wrap: wrap;
      gap: 30px;
      & div {
        width: 100%;
      }
    }
  }

}
