.popular-track {

  &__container {
    display: flex;
    column-gap: 50px;
    row-gap: 25px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    width: calc(50% - 25px);
    align-items: center;
    gap: 15px;

    @media screen and (max-width: $xl) {
      width: 100%;
    }

    &-img {
      width: 55px;
      height: 55px;
    }

    &-time {
      flex-grow: 1;
      text-align: right;
    }
  }
}
