.pricing {
  &__container {

  }

  &__card__container {
    display: flex;
    gap: 50px;

    @media screen and (max-width: $xl) {
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 1.5rem;
    border-radius: 1rem;

    height: 615px;
    width: 100%;

    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }

    &-type {
      padding-bottom: 200px;
    }

    &-cost:after {
      content: 'РУБ.';
      font-size: 32px;
      padding-left: 1rem;
      position: relative;
      bottom: 1.4rem;
    }
  }

  &__card:nth-child(1) {
    background-image: url(../images/subscribe_1.png);
  }

  &__card:nth-child(2) {
    background-image: url(../images/subscribe_2.png);
  }

  &__card:nth-child(3) {
    background-image: url(../images/subscribe_3.png);
  }
}
